@import url('../../fonts/fonts.css');

.Navbar {
    display: flex;
    justify-content: center;
    background-color: #006491;
    font-family: 'Bebas Neue', sans-serif !important;
    box-shadow: 0px 2px 6px black;
}

.Navbar ul {
    display: flex;
    align-items: center;
    margin: 0;
}

.Navbar ul li {
    list-style-type: none;
    padding: 12px 10px;
}

.Navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.Navbar ul {
    padding: 0px 10px;
}

.Navbar .banner {
    font-family: 'Lato', sans-serif;
    position: relative;
    padding: 5px 0px 5px 30px;
    border: none;
    background-color: #f0f0f0;
    font-size: 13px;
    font-weight: 800;
    color: #1c6590;

}

.Navbar .banner::before {
    border-color: transparent transparent transparent rgb(28 101 144);
    border-style: solid;
    border-width: 21px;
    content: "";
    right: 107px;
    top: 0;
    position: absolute;
}

.Navbar .banner::after {
    border-color: transparent transparent transparent rgb(240 240 240);
    border-style: solid;
    border-width: 21px;
    content: "";
    position: absolute;
    top: 0px;
    left: 148px;
}

.Navbar .nav-right li:nth-child(2) {
    background: #01587c;
    padding: 21px 20px;
    margin: 0 25px;
}

.Navbar .sign-in {
    font-family: 'Bebas Neue', sans-serif !important;
    background-color: transparent;
    border: 0;
    color: white;
    letter-spacing: .5px;
    font-size: 14px;
}

.Navbar .cart {
    color: white;
    font-size: 30px;
}

.Navbar .items {
    color: white;
    background: red;
    border-radius: 50%;
    padding: 0 5px;
    position: absolute;
    font-size: 10px;
}